<template>
  <v-container>
    <v-card>
      <v-card-title>Impressum</v-card-title>
      <v-card-text>
        <h2>Diensteanbieter</h2>
        <p>Tim Moehring</p>
        <p>Illerweg 16</p>
        <p>30519 Hannover</p>
        <p>Deutschland</p>
        <ul></ul>
        <h2>Kontaktmöglichkeiten</h2>
        <p>
          <strong>E-Mail-Adresse</strong>:
          <a href="mailto:dev@omnomnomtee.de">dev@omnomnomtee.de</a>
        </p>
        <p>
          <strong>Kontaktformular</strong>:
          <n-link :to="localePath('contact')">{{
            $t('footer.contact')
          }}</n-link>
        </p>
        <h2 id="m65">Haftungs- und Urheberrechtshinweise</h2>
        <p>
          <strong>Haftungsausschluss</strong>: Die Inhalte dieses
          Onlineangebotes wurden sorgfältig und nach unserem aktuellen
          Kenntnisstand erstellt, dienen jedoch nur der Information und
          entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um
          gesetzlich verpflichtende Informationen (z.B. das Impressum, die
          Datenschutzerklärung, AGB oder Widerrufsbelehrungen für Verbraucher)
          handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise
          zu ändern oder zu löschen, soweit vertragliche Verpflichtungen
          unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
        </p>
        <p>
          <strong>Links auf fremde Webseiten</strong>: Inhalte fremder
          Webseiten, auf die wir direkt oder indirekt verweisen, liegen
          außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu
          Eigen. Für alle Inhalte und insbesondere für Schäden, die aus der
          Nutzung der in den verlinkten Webseiten aufrufbaren Informationen
          entstehen, haftet allein der Anbieter der verlinkten Webseiten.
        </p>
        <p>
          <strong>Urheberrechte und Markenrechte</strong>: Alle auf dieser
          Website dargestellten Inhalte, wie Texte, Fotografien, Grafiken,
          Marken und Warenzeichen sind durch die jeweiligen Schutzrechte
          (Urheberrechte, Markenrechte) geschützt. Die Verwendung,
          Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der
          jeweiligen Urheber bzw. Rechteverwalter.
        </p>
        <p>
          <strong>Hinweise auf Rechtsverstöße</strong>: Sollten Sie innerhalb
          unseres Internetauftritts Rechtsverstöße bemerken, bitten wir Sie uns
          auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach
          Kenntnisnahme unverzüglich entfernen.
        </p>
        <h2 id="m169">Bildnachweise</h2>
        <p><strong>Bildquellen und Urheberrechtshinweise</strong>:</p>
        <p>
          Pexels
          <a href="https://www.pexels.com/" target="_blank"
            >https://www.pexels.com/</a
          >
        </p>
        <p class="seal">
          <a
            href="https://datenschutz-generator.de/?l=de"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
            target="_blank"
            >Erstellt mit Datenschutz-Generator.de von Dr. jur. Thomas
            Schwenke</a
          >
        </p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  nuxtI18n: {
    paths: {
      de: '/impressum', // -> accessible at /kontakt (no prefix since it's the default locale)
      en: '/companyDetails', // -> accessible at /en/contact
    },
  },
}
</script>
