<template lang="pug">
  v-row(align="center")
    v-col.text-center(cols="12")
      h1(class="text-h2") Contact Me
    v-col.text-center(cols="12")
      h2(class="text-h5") If you’d like to chat about a project please fill in the form below and I’ll get back within 1-2 days.
    v-col(cols="12")
      v-form(lazy-validation)
        v-row
          v-col(cols="6")
            v-text-field(
              v-model="contactData.name"
              autofocus
              required
              outlined
              :label="$t('contact.name.label')"
              :error-messages="nameErrors"
              @input="$v.contactData.name.$touch()"
              @blur="$v.contactData.name.$touch()")
          v-col(cols="6")
            v-text-field(
              v-model="contactData.email"
              required
              outlined
              :label="$t('contact.email.label')"
              :error-messages="emailErrors"
              @input="$v.contactData.email.$touch()"
              @blur="$v.contactData.email.$touch()")
          v-col(cols="12")
            v-textarea(
              v-model="contactData.description"
              required
              counter
              outlined
              :label="$t('contact.textField.label')"
              :error-messages="descriptionErrors"
              @input="$v.contactData.description.$touch()"
              @blur="$v.contactData.description.$touch()")
          v-col.text-center(cols="12")
            v-row
              v-col(cols="5")
              v-col(cols="2")
                v-btn(outlined dark block rounded large @click="sendMail" :loading="loading") Send
              v-col(cols="5")
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  nuxtI18n: {
    paths: {
      de: '/kontakt', // -> accessible at /kontakt (no prefix since it's the default locale)
      en: '/contact', // -> accessible at /en/contact
    },
  },
  validations: {
    contactData: {
      name: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(500),
      },
      email: {
        required,
        email,
      },
      description: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(10000),
      },
    },
  },
  data: () => ({
    loading: false,
    contactData: {
      name: '',
      email: '',
      description: '',
    },
    contactDataDefault: {
      name: '',
      email: '',
      description: '',
    },
  }),
  computed: {
    nameErrors() {
      const errors = []
      if (!this.$v.contactData.name.$dirty) return errors
      !this.$v.contactData.name.minLength &&
        errors.push(this.$t('contact.name.error.minLength'))
      !this.$v.contactData.name.maxLength &&
        errors.push(this.$t('contact.name.error.maxLength'))
      !this.$v.contactData.name.required &&
        errors.push(this.$t('contact.name.error.required'))
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.contactData.email.$dirty) return errors
      !this.$v.contactData.email.email &&
        errors.push(this.$t('contact.email.error.email'))
      !this.$v.contactData.email.required &&
        errors.push(this.$t('contact.email.error.required'))
      return errors
    },
    descriptionErrors() {
      const errors = []
      if (!this.$v.contactData.description.$dirty) return errors
      !this.$v.contactData.description.minLength &&
        errors.push(this.$t('contact.textField.error.minLength'))
      !this.$v.contactData.description.maxLength &&
        errors.push(this.$t('contact.textField.error.maxLength'))
      !this.$v.contactData.description.required &&
        errors.push(this.$t('contact.textField.error.required'))
      return errors
    },
  },
  methods: {
    async sendMail() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }

      this.loading = true

      await this.$axios({
        method: 'post',
        url: this.$config.mailgun.domain,
        auth: {
          username: 'api',
          password: this.$config.mailgun.apiKey,
        },
        params: {
          from: `${this.contactData.name} <${this.contactData.email}>`,
          to: 'dev@omnomnomtee.de',
          subject: 'moehring.dev',
          text: `${this.contactData.description}`,
        },
      })
        .then(() => {
          this.$store.commit(
            'feedback/setMessage',
            {
              text: `Successfully send email`,
              color: 'success',
            },
            { root: true }
          )
          this.reset()
        })
        .catch((error) => {
          this.$store.commit(
            'feedback/setMessage',
            {
              text: error.response.data.message,
              color: 'error',
            },
            { root: true }
          )
        })

      this.loading = false
    },
    reset() {
      this.$v.$reset()
      this.contactData = { ...this.contactDataDefault }
    },
  },
}
</script>
