<template>
  <v-container>
    <v-card>
      <v-card-text>
        <h1>Datenschutzerklärung</h1>
        <h2 id="m14">Einleitung</h2>
        <p>
          Mit der folgenden Datenschutzerklärung möchten wir Sie darüber
          aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend
          auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in
          welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von
          uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im
          Rahmen der Erbringung unserer Leistungen als auch insbesondere auf
          unseren Webseiten, in mobilen Applikationen sowie innerhalb externer
          Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend
          zusammenfassend bezeichnet als "Onlineangebot“).
        </p>
        <ul class="m-elements"></ul>
        <p>Stand: 29. Juli 2019</p>

        <h2>Inhaltsübersicht</h2>
        <ul class="index">
          <li><a class="index-link" href="#m14"> Einleitung</a></li>
          <li><a class="index-link" href="#m3"> Verantwortlicher</a></li>
          <li>
            <a class="index-link" href="#mOverview">
              Übersicht der Verarbeitungen</a
            >
          </li>
          <li>
            <a class="index-link" href="#m11">
              Kontakt Datenschutzbeauftragter</a
            >
          </li>
          <li>
            <a class="index-link" href="#m13"> Maßgebliche Rechtsgrundlagen</a>
          </li>
          <li><a class="index-link" href="#m27"> Sicherheitsmaßnahmen</a></li>
          <li>
            <a class="index-link" href="#m25">
              Übermittlung und Offenbarung von personenbezogenen Daten</a
            >
          </li>
          <li>
            <a class="index-link" href="#m24">
              Datenverarbeitung in Drittländern</a
            >
          </li>
          <li><a class="index-link" href="#m134"> Einsatz von Cookies</a></li>
          <li>
            <a class="index-link" href="#m367"> Registrierung und Anmeldung</a>
          </li>
          <li><a class="index-link" href="#m182"> Kontaktaufnahme</a></li>
          <li>
            <a class="index-link" href="#m225">
              Bereitstellung des Onlineangebotes und Webhosting</a
            >
          </li>
          <li>
            <a class="index-link" href="#m328">
              Plugins und eingebettete Funktionen sowie Inhalte</a
            >
          </li>
          <li><a class="index-link" href="#m12"> Löschung von Daten</a></li>
          <li>
            <a class="index-link" href="#m15">
              Änderung und Aktualisierung der Datenschutzerklärung</a
            >
          </li>
          <li>
            <a class="index-link" href="#m10">
              Rechte der betroffenen Personen</a
            >
          </li>
          <li><a class="index-link" href="#m42"> Begriffsdefinitionen</a></li>
        </ul>
        <h2 id="m3">Verantwortlicher</h2>
        <p>Tim, Moehring<br />Illerweg 16<br />30519, Hannover, Deutschland</p>
        <p>
          <strong>E-Mail-Adresse</strong>:
          <a href="mailto:dev@omnomnomtee.de">dev@omnomnomtee.de</a>
        </p>
        <p>
          <strong>Impressum</strong>:
          <a href="https://www.studentproject-hannover.de" target="_blank"
            >https://www.studentproject-hannover.de</a
          >
        </p>
        <ul class="m-elements"></ul>
        <h2 id="m11">Kontakt Datenschutzbeauftragter</h2>
        <p><a href="mailto:dev@omnomnomtee.de">dev@omnomnomtee.de</a></p>
        <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
        <p>
          Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und
          die Zwecke ihrer Verarbeitung zusammen und verweist auf die
          betroffenen Personen.
        </p>
        <h3>Arten der verarbeiteten Daten</h3>
        <ul>
          <li><p>Bestandsdaten (Namen, Adressen, etc.).</p></li>
          <li><p>Inhaltsdaten (Texteingaben, Fotografien, Videos).</p></li>
          <li><p>Kontaktdaten (E-Mail, Telefonnummern).</p></li>
          <li>
            <p>
              Meta-/Kommunikationsdaten (Geräte-Informationen, IP-Adressen).
            </p>
          </li>
          <li>
            <p>
              Nutzungsdaten (besuchte Webseiten, Interesse an Inhalten,
              Zugriffszeiten).
            </p>
          </li>
        </ul>
        <h3>Kategorien betroffener Personen</h3>
        <ul>
          <li><p>Kommunikationspartner.</p></li>
          <li><p>Nutzer (Websitebesucher, Nutzer von Onlinediensten).</p></li>
        </ul>
        <h3>Zwecke der Verarbeitung</h3>
        <ul>
          <li>
            <p>
              Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
            </p>
          </li>
          <li><p>Content Delivery Network (CDN).</p></li>
          <li><p>Kontaktanfragen und Kommunikation.</p></li>
          <li><p>Sicherheitsmaßnahmen.</p></li>
          <li><p>Vertragliche Leistungen und Service.</p></li>
          <li><p>Verwaltung und Beantwortung von Anfragen.</p></li>
        </ul>
        <h2></h2>
        <h3 id="m13">Maßgebliche Rechtsgrundlagen</h3>
        <p>
          Im Folgenden teilen wir die Rechtsgrundlagen der
          Datenschutzgrundverordnung (DSGVO), auf deren Basis wir die
          personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass
          zusätzlich zu den Regelungen der DSGVO die nationalen
          Datenschutzvorgaben in Ihrem bzw. unserem Wohn- und Sitzland gelten
          können.
        </p>
        <ul>
          <li>
            <p>
              <strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO)</strong> -
              Die betroffene Person hat ihre Einwilligung zu der Verarbeitung
              der sie betreffenden personenbezogenen Daten für einen oder
              mehrere bestimmte Zwecke gegeben.
            </p>
          </li>
          <li>
            <p>
              <strong
                >Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1
                S. 1 lit. b. DSGVO)</strong
              >
              - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen
              Vertragspartei die betroffene Person ist, oder zur Durchführung
              vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der
              betroffenen Person erfolgen.
            </p>
          </li>
          <li>
            <p>
              <strong
                >Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f.
                DSGVO)</strong
              >
              - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des
              Verantwortlichen oder eines Dritten erforderlich, sofern nicht die
              Interessen oder Grundrechte und Grundfreiheiten der betroffenen
              Person, die den Schutz personenbezogener Daten erfordern,
              überwiegen.
            </p>
          </li>
        </ul>
        <p>
          <strong>Nationale Datenschutzregelungen in Deutschland</strong>:
          Zusätzlich zu den Datenschutzregelungen der
          Datenschutz-Grundverordnung gelten nationale Regelungen zum
          Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum
          Schutz vor Missbrauch personenbezogener Daten bei der
          Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
          insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf
          Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer
          Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke
          und zur Übermittlung sowie automatisierten Entscheidungsfindung im
          Einzelfall einschließlich Profiling. Des Weiteren regelt es die
          Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26
          BDSG), insbesondere im Hinblick auf die Begründung, Durchführung oder
          Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung von
          Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen
          Bundesländer zur Anwendung gelangen.
        </p>
        <ul class="m-elements"></ul>
        <h2 id="m27">Sicherheitsmaßnahmen</h2>
        <p>
          Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter
          Berücksichtigung des Stands der Technik, der Implementierungskosten
          und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung
          sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des
          Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher Personen
          geeignete technische und organisatorische Maßnahmen, um ein dem Risiko
          angemessenes Schutzniveau zu gewährleisten.
        </p>
        <p>
          Zu den Maßnahmen gehören insbesondere die Sicherung der
          Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch
          Kontrolle des physischen und elektronischen Zugangs zu den Daten als
          auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der
          Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
          Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten,
          die Löschung von Daten und Reaktionen auf die Gefährdung der Daten
          gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener
          Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software
          sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch
          Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.
        </p>
        <p>
          <strong>Kürzung der IP-Adresse</strong>: Sofern es uns möglich ist
          oder eine Speicherung der IP-Adresse nicht erforderlich ist, kürzen
          wir oder lassen Ihre IP-Adresse kürzen. Im Fall der Kürzung der
          IP-Adresse, auch als "IP-Masking" bezeichnet, wird das letzte Oktett,
          d.h., die letzten beiden Zahlen einer IP-Adresse, gelöscht (die
          IP-Adresse ist in diesem Kontext eine einem Internetanschluss durch
          den Online-Zugangs-Provider individuell zugeordnete Kennung). Mit der
          Kürzung der IP-Adresse soll die Identifizierung einer Person anhand
          ihrer IP-Adresse verhindert oder wesentlich erschwert werden.
        </p>
        <p>
          <strong>SSL-Verschlüsselung (https)</strong>: Um Ihre via unser
          Online-Angebot übermittelten Daten zu schützen, nutzen wir eine
          SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen
          an dem Präfix https:// in der Adresszeile Ihres Browsers.
        </p>
        <h2 id="m25">
          Übermittlung und Offenbarung von personenbezogenen Daten
        </h2>
        <p>
          Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es
          vor, dass die Daten an andere Stellen, Unternehmen, rechtlich
          selbstständige Organisationseinheiten oder Personen übermittelt oder
          sie ihnen gegenüber offengelegt werden. Zu den Empfängern dieser Daten
          können z.B. Zahlungsinstitute im Rahmen von Zahlungsvorgängen, mit
          IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und
          Inhalten, die in eine Webseite eingebunden werden, gehören. In solchen
          Fall beachten wir die gesetzlichen Vorgaben und schließen insbesondere
          entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten
          dienen, mit den Empfängern Ihrer Daten ab.
        </p>
        <h2 id="m24">Datenverarbeitung in Drittländern</h2>
        <p>
          Sofern wir Daten in einem Drittland (d.h., außerhalb der Europäischen
          Union (EU), des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder
          die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter
          oder der Offenlegung bzw. Übermittlung von Daten an andere Personen,
          Stellen oder Unternehmen stattfindet, erfolgt dies nur im Einklang mit
          den gesetzlichen Vorgaben.
        </p>
        <p>
          Vorbehaltlich ausdrücklicher Einwilligung oder vertraglich oder
          gesetzlich erforderlicher Übermittlung verarbeiten oder lassen wir die
          Daten nur in Drittländern mit einem anerkannten Datenschutzniveau, zu
          denen die unter dem "Privacy-Shield" zertifizierten US-Verarbeiter
          gehören, oder auf Grundlage besonderer Garantien, wie z.B.
          vertraglicher Verpflichtung durch sogenannte Standardschutzklauseln
          der EU-Kommission, des Vorliegens von Zertifizierungen oder
          verbindlicher interner Datenschutzvorschriften, verarbeiten (Art. 44
          bis 49 DSGVO, Informationsseite der EU-Kommission:
          <a
            href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de"
            target="_blank"
            >https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de</a
          >
          ).
        </p>
        <h2 id="m134">Einsatz von Cookies</h2>
        <p>
          Als "Cookies“ werden kleine Dateien bezeichnet, die auf Geräten der
          Nutzer gespeichert werden. Mittels Cookies können unterschiedliche
          Angaben gespeichert werden. Zu den Angaben können z.B. die
          Spracheinstellungen auf einer Webseite, der Loginstatus, ein Warenkorb
          oder die Stelle, an der ein Video geschaut wurde, gehören.
        </p>
        <p>
          Cookies werden im Regelfall auch dann eingesetzt, wenn die Interessen
          eines Nutzers oder sein Verhalten (z.B. Betrachten bestimmter Inhalte,
          Nutzen von Funktionen etc.) auf einzelnen Webseiten in einem
          Nutzerprofil gespeichert werden. Solche Profile dienen dazu, den
          Nutzern z.B. Inhalte anzuzeigen, die ihren potentiellen Interessen
          entsprechen. Dieses Verfahren wird auch als "Tracking", d.h.,
          Nachverfolgung der potentiellen Interessen der Nutzer bezeichnet. Zu
          dem Begriff der Cookies zählen wir ferner andere Technologien, die die
          gleichen Funktionen wie Cookies erfüllen (z.B., wenn Angaben der
          Nutzer anhand pseudonymer Onlinekennzeichnungen gespeichert werden,
          auch als "Nutzer-IDs" bezeichnet).
        </p>
        <p>
          Soweit wir Cookies oder "Tracking"-Technologien einsetzen, informieren
          wir Sie gesondert in unserer Datenschutzerklärung.
        </p>
        <p>
          <strong>Hinweise zu Rechtsgrundlagen: </strong> Auf welcher
          Rechtsgrundlage wir Ihre personenbezogenen Daten mit Hilfe von Cookies
          verarbeiten, hängt davon ab, ob wir Sie um eine Einwilligung bitten.
          Falls dies zutrifft und Sie in die Nutzung von Cookies einwilligen,
          ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte
          Einwilligung. Andernfalls werden die mithilfe von Cookies
          verarbeiteten Daten auf Grundlage unserer berechtigten Interessen
          (z.B. an einem betriebswirtschaftlichen Betrieb unseres
          Onlineangebotes und dessen Verbesserung) verarbeitet oder, wenn der
          Einsatz von Cookies erforderlich ist, um unsere vertraglichen
          Verpflichtungen zu erfüllen.
        </p>
        <p>
          <strong>Widerruf und Widerspruch (Opt-Out): </strong> Unabhängig
          davon, ob die Verarbeitung auf Grundlage einer Einwilligung oder
          gesetzlichen Erlaubnis erfolgt, haben Sie jederzeit die Möglichkeit,
          eine erteilte Einwilligung zu widerrufen oder der Verarbeitung Ihrer
          Daten durch Cookie-Technologien zu widersprechen (zusammenfassend als
          "Opt-Out" bezeichnet).
        </p>
        <p>
          Sie können Ihren Widerspruch zunächst mittels der Einstellungen Ihres
          Browsers erklären, z.B., indem Sie die Nutzung von Cookies
          deaktivieren (wobei hierdurch auch die Funktionsfähigkeit unseres
          Onlineangebotes eingeschränkt werden kann).
        </p>
        <p>
          Ein Widerspruch gegen den Einsatz von Cookies zu Zwecken des
          Onlinemarketings kann mittels einer Vielzahl von Diensten, vor allem
          im Fall des Trackings, über die US-amerikanische Seite
          <a href="http://www.aboutads.info/choices/" target="_blank"
            >http://www.aboutads.info/choices/</a
          >
          oder die EU-Seite
          <a href="http://www.youronlinechoices.com/" target="_blank"
            >http://www.youronlinechoices.com/</a
          >
          oder generell auf
          <a href="http://optout.aboutads.info" target="_blank"
            >http://optout.aboutads.info</a
          >
          erklärt werden.
        </p>
        <p>
          <strong
            >Verarbeitung von Cookie-Daten auf Grundlage einer
            Einwilligung</strong
          >: Bevor wir Daten im Rahmen der Nutzung von Cookies verarbeiten oder
          verarbeiten lassen, bitten wir die Nutzer um eine jederzeit
          widerrufbare Einwilligung. Bevor die Einwilligung nicht ausgesprochen
          wurde, werden allenfalls Cookies eingesetzt, die für den Betrieb
          unseres Onlineangebotes erforderlich sind. Deren Einsatz erfolgt auf
          der Grundlage unseres Interesses und des Interesses der Nutzer an der
          erwarteten Funktionsfähigkeit unseres Onlineangebotes.
        </p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (besuchte
              Webseiten, Interesse an Inhalten, Zugriffszeiten),
              Meta-/Kommunikationsdaten (Geräte-Informationen, IP-Adressen).
            </p>
          </li>
          <li>
            <p>
              <strong>Betroffene Personen:</strong> Nutzer (Websitebesucher,
              Nutzer von Onlinediensten).
            </p>
          </li>
          <li>
            <p>
              <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S.
              1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit.
              f. DSGVO).
            </p>
          </li>
        </ul>
        <h2 id="m367">Registrierung und Anmeldung</h2>
        <p>
          Nutzer können ein Nutzerkonto anlegen. Im Rahmen der Registrierung
          werden den Nutzern die erforderlichen Pflichtangaben mitgeteilt und zu
          Zwecken der Bereitstellung des Nutzerkontos auf Grundlage
          vertraglicher Pflichterfüllung verarbeitet. Zu den verarbeiteten Daten
          gehören insbesondere die Login-Informationen (Name, Passwort sowie
          eine E-Mail-Adresse). Die im Rahmen der Registrierung eingegebenen
          Daten werden für die Zwecke der Nutzung des Nutzerkontos und dessen
          Zwecks verwendet.
        </p>
        <p>
          Die Nutzer können über Vorgänge, die für deren Nutzerkonto relevant
          sind, wie z.B. technische Änderungen, per E-Mail informiert werden.
          Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden deren Daten im
          Hinblick auf das Nutzerkonto, vorbehaltlich einer gesetzlichen
          Aufbewahrungspflicht, gelöscht. Es obliegt den Nutzern, ihre Daten bei
          erfolgter Kündigung vor dem Vertragsende zu sichern. Wir sind
          berechtigt, sämtliche während der Vertragsdauer gespeicherte Daten des
          Nutzers unwiederbringlich zu löschen.
        </p>
        <p>
          Im Rahmen der Inanspruchnahme unserer Registrierungs- und
          Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir die
          IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die
          Speicherung erfolgt auf Grundlage unserer berechtigten Interessen als
          auch jener der Nutzer an einem Schutz vor Missbrauch und sonstiger
          unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt
          grundsätzlich nicht, es sei denn, sie ist zur Verfolgung unserer
          Ansprüche erforderlich oder es besteht hierzu besteht eine gesetzliche
          Verpflichtung.
        </p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (Namen,
              Adressen, etc.), Kontaktdaten (E-Mail, Telefonnummern),
              Inhaltsdaten (Texteingaben, Fotografien, Videos),
              Meta-/Kommunikationsdaten (Geräte-Informationen, IP-Adressen).
            </p>
          </li>
          <li>
            <p>
              <strong>Betroffene Personen:</strong> Nutzer (Websitebesucher,
              Nutzer von Onlinediensten).
            </p>
          </li>
          <li>
            <p>
              <strong>Zwecke der Verarbeitung:</strong> Vertragliche Leistungen
              und Service, Sicherheitsmaßnahmen, Verwaltung und Beantwortung von
              Anfragen.
            </p>
          </li>
          <li>
            <p>
              <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S.
              1 lit. a DSGVO), Vertragserfüllung und vorvertragliche Anfragen
              (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6
              Abs. 1 S. 1 lit. f. DSGVO).
            </p>
          </li>
        </ul>
        <h2 id="m182">Kontaktaufnahme</h2>
        <p>
          Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail,
          Telefon oder via soziale Medien) werden die Angaben der anfragenden
          Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen
          und etwaiger angefragter Maßnahmen erforderlich ist.
        </p>
        <p>
          Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder
          vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer
          vertraglichen Pflichten oder zur Beantwortung von (vor)vertraglichen
          Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an
          der Beantwortung der Anfragen.
        </p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (Namen,
              Adressen, etc.), Kontaktdaten (E-Mail, Telefonnummern),
              Inhaltsdaten (Texteingaben, Fotografien, Videos).
            </p>
          </li>
          <li>
            <p><strong>Betroffene Personen:</strong> Kommunikationspartner.</p>
          </li>
          <li>
            <p>
              <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und
              Kommunikation.
            </p>
          </li>
          <li>
            <p>
              <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und
              vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO),
              Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
            </p>
          </li>
        </ul>
        <h2 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2>
        <p>
          Um unser Onlineangebot sicher und effizient bereitstellen zu können,
          nehmen wir die Leistungen von einem oder mehreren Webhosting-Anbietern
          in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern)
          das Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir
          Infrastruktur- und Plattformdienstleistungen, Rechenkapazität,
          Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und
          technische Wartungsleistungen in Anspruch nehmen.
        </p>
        <p>
          Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten
          Daten können alle die Nutzer unseres Onlineangebotes betreffenden
          Angaben gehören, die im Rahmen der Nutzung und der Kommunikation
          anfallen. Hierzu gehören regelmäßig die IP-Adresse, die notwendig ist,
          um die Inhalte von Onlineangeboten an Browser ausliefern zu können,
          und alle innerhalb unseres Onlineangebotes oder von Webseiten
          getätigten Eingaben.
        </p>
        <p>
          <strong>E-Mail-Versand und -Hosting</strong>: Die von uns in Anspruch
          genommenen Webhosting-Leistungen umfassen ebenfalls den Versand, den
          Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden
          die Adressen der Empfänger sowie Absender als auch weitere
          Informationen betreffend den E-Mailversand (z.B. die beteiligten
          Provider) sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die
          vorgenannten Daten können ferner zu Zwecken der Erkennung von SPAM
          verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im
          Internet grundsätzlich nicht verschlüsselt versendet werden. Im
          Regelfall werden E-Mails zwar auf dem Transportweg verschlüsselt, aber
          (sofern kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren
          eingesetzt wird) nicht auf den Servern, von denen sie abgesendet und
          empfangen werden. Wir können daher für den Übertragungsweg der E-Mails
          zwischen dem Absender und dem Empfang auf unserem Server keine
          Verantwortung übernehmen.
        </p>
        <p>
          <strong>Erhebung von Zugriffsdaten und Logfiles</strong>: Wir selbst
          (bzw. unser Webhostinganbieter) erheben Daten zu jedem Zugriff auf den
          Server (sogenannte Serverlogfiles). Zu den Serverlogfiles können die
          Adresse und Name der abgerufenen Webseiten und Dateien, Datum und
          Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über
          erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des
          Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall
          IP-Adressen und der anfragende Provider gehören.
        </p>
        <p>
          Die Serverlogfiles können zum einen zu Zwecken der Sicherheit
          eingesetzt werden, z.B., um eine Überlastung der Server zu vermeiden
          (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten
          DDoS-Attacken) und zum anderen, um die Auslastung der Server und ihre
          Stabilität sicherzustellen.
        </p>
        <p>
          <strong>Content-Delivery-Network</strong>: Wir setzen ein
          "Content-Delivery-Network" (CDN) ein. Ein CDN ist ein Dienst, mit
          dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große
          Mediendateien, wie Grafiken oder Programm-Skripte, mit Hilfe regional
          verteilter und über das Internet verbundener Server schneller und
          sicherer ausgeliefert werden können.
        </p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Verarbeitete Datenarten:</strong> Inhaltsdaten
              (Texteingaben, Fotografien, Videos), Nutzungsdaten (besuchte
              Webseiten, Interesse an Inhalten, Zugriffszeiten),
              Meta-/Kommunikationsdaten (Geräte-Informationen, IP-Adressen).
            </p>
          </li>
          <li>
            <p>
              <strong>Betroffene Personen:</strong> Nutzer (Websitebesucher,
              Nutzer von Onlinediensten).
            </p>
          </li>
          <li>
            <p>
              <strong>Zwecke der Verarbeitung:</strong> Content Delivery Network
              (CDN).
            </p>
          </li>
          <li>
            <p>
              <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
              Abs. 1 S. 1 lit. f. DSGVO).
            </p>
          </li>
        </ul>
        <h2 id="m328">Plugins und eingebettete Funktionen sowie Inhalte</h2>
        <p>
          Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein,
          die von den Servern ihrer jeweiligen Anbieter (nachfolgend bezeichnet
          als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel
          um Grafiken, Videos oder Social-Media-Schaltflächen sowie Beiträge
          handeln (nachfolgend einheitlich bezeichnet als "Inhalte”).
        </p>
        <p>
          Die Einbindung setzt immer voraus, dass die Drittanbieter dieser
          Inhalte die IP-Adresse der Nutzer verarbeiten, da sie ohne die
          IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die
          IP-Adresse ist damit für die Darstellung dieser Inhalte oder
          Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu
          verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur
          Auslieferung der Inhalte verwenden. Drittanbieter können ferner
          sogenannte Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons"
          bezeichnet) für statistische oder Marketingzwecke verwenden. Durch die
          "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den
          Seiten dieser Webseite, ausgewertet werden. Die pseudonymen
          Informationen können ferner in Cookies auf dem Gerät der Nutzer
          gespeichert werden und unter anderem technische Informationen zum
          Browser und zum Betriebssystem, zu verweisenden Webseiten, zur
          Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes
          enthalten als auch mit solchen Informationen aus anderen Quellen
          verbunden werden.
        </p>
        <p>
          <strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer
          um deren Einwilligung in den Einsatz der Drittanbieter bitten, ist die
          Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten
          werden die Daten der Nutzer auf Grundlage unserer berechtigten
          Interessen (d.h. Interesse an effizienten, wirtschaftlichen und
          empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang
          möchten wir Sie auch auf die Informationen zur Verwendung von Cookies
          in dieser Datenschutzerklärung hinweisen.
        </p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (besuchte
              Webseiten, Interesse an Inhalten, Zugriffszeiten),
              Meta-/Kommunikationsdaten (Geräte-Informationen, IP-Adressen).
            </p>
          </li>
          <li>
            <p>
              <strong>Betroffene Personen:</strong> Nutzer (Websitebesucher,
              Nutzer von Onlinediensten).
            </p>
          </li>
          <li>
            <p>
              <strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres
              Onlineangebotes und Nutzerfreundlichkeit, Vertragliche Leistungen
              und Service.
            </p>
          </li>
          <li>
            <p>
              <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
              Abs. 1 S. 1 lit. f. DSGVO).
            </p>
          </li>
        </ul>
        <p><strong>Eingesetzte Dienste und Diensteanbieter:</strong></p>
        <ul class="m-elements">
          <li>
            <p>
              <strong>Google Fonts:</strong> Wir binden die Schriftarten
              (\"Google Fonts\") des Anbieters Google ein, wobei die Daten der
              Nutzer allein zu Zwecken der Darstellung der Schriftarten im
              Browser der Nutzer verwendet werden. Die Einbindung erfolgt auf
              Grundlage unserer berechtigten Interessen an einer technisch
              sicheren, wartungsfreien und effizienten Nutzung von Schriftarten,
              deren einheitlicher Darstellung sowie unter Berücksichtigung
              möglicher lizenzrechtlicher Restriktionen für deren Einbindung.
              Dienstanbieter: Google Ireland Limited, Gordon House, Barrow
              Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600
              Amphitheatre Parkway, Mountain View, CA 94043, USA; Website:
              <a href="https://fonts.google.com/" target="_blank"
                >https://fonts.google.com/</a
              >; Datenschutzerklärung:
              <a href="https://policies.google.com/privacy" target="_blank"
                >https://policies.google.com/privacy</a
              >; Privacy Shield (Gewährleistung Datenschutzniveau bei
              Verarbeitung von Daten in den USA):
              <a
                href="https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active"
                target="_blank"
                >https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active</a
              >.
            </p>
          </li>
        </ul>
        <h2 id="m12">Löschung von Daten</h2>
        <p>
          Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen
          Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten
          Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen
          (z.B., wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder
          sie für den Zweck nicht erforderlich sind).
        </p>
        <p>
          Sofern die Daten nicht gelöscht werden, weil sie für andere und
          gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung
          auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt und nicht
          für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus
          handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder
          deren Speicherung zur Geltendmachung, Ausübung oder Verteidigung von
          Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
          oder juristischen Person erforderlich ist.
        </p>
        <p>
          Weitere Hinweise zu der Löschung von personenbezogenen Daten können
          ferner im Rahmen der einzelnen Datenschutzhinweise dieser
          Datenschutzerklärung erfolgen.
        </p>
        <ul class="m-elements"></ul>
        <h2 id="m15">Änderung und Aktualisierung der Datenschutzerklärung</h2>
        <p>
          Wir bitten Sie, sich regelmäßig über den Inhalt unserer
          Datenschutzerklärung zu informieren. Wir passen die
          Datenschutzerklärung an, sobald die Änderungen der von uns
          durchgeführten Datenverarbeitungen dies erforderlich machen. Wir
          informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung
          Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle
          Benachrichtigung erforderlich wird.
        </p>
        <h2 id="m10">Rechte der betroffenen Personen</h2>
        <p>
          Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die
          sich insbesondere aus Art. 15 bis 18 und 21 DS-GVO ergeben:
        </p>
        <ul>
          <li>
            <strong
              >Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus
              Ihrer besonderen Situation ergeben, jederzeit gegen die
              Verarbeitung der Sie betreffenden personenbezogenen Daten, die
              aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt,
              Widerspruch einzulegen; dies gilt auch für ein auf diese
              Bestimmungen gestütztes Profiling. Werden die Sie betreffenden
              personenbezogenen Daten verarbeitet, um Direktwerbung zu
              betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die
              Verarbeitung der Sie betreffenden personenbezogenen Daten zum
              Zwecke derartiger Werbung einzulegen; dies gilt auch für das
              Profiling, soweit es mit solcher Direktwerbung in Verbindung
              steht.</strong
            >
          </li>
          <li>
            <strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das
            Recht, erteilte Einwilligungen jederzeit zu widerrufen.
          </li>
          <li>
            <strong>Auskunftsrecht:</strong> Sie haben das Recht, eine
            Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet
            werden und auf Auskunft über diese Daten sowie auf weitere
            Informationen und Kopie der Daten entsprechend den gesetzlichen
            Vorgaben.
          </li>
          <li>
            <strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den
            gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie
            betreffenden Daten oder die Berichtigung der Sie betreffenden
            unrichtigen Daten zu verlangen.
          </li>
          <li>
            <strong
              >Recht auf Löschung und Einschränkung der Verarbeitung:</strong
            >
            Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu
            verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden,
            bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine
            Einschränkung der Verarbeitung der Daten zu verlangen.
          </li>
          <li>
            <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das
            Recht, Sie betreffende Daten, die Sie uns bereitgestellt haben, nach
            Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen
            und maschinenlesbaren Format zu erhalten oder deren Übermittlung an
            einen anderen Verantwortlichen zu fordern.
          </li>
          <li>
            <strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben ferner
            nach Maßgabe der gesetzlichen Vorgaben das Recht, bei einer
            Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres
            gewöhnlichen Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des
            mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die
            Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die
            DSGVO verstößt.
          </li>
        </ul>
        <h2 id="m42">Begriffsdefinitionen</h2>
        <p>
          In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser
          Datenschutzerklärung verwendeten Begrifflichkeiten. Viele der Begriffe
          sind dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die
          gesetzlichen Definitionen sind verbindlich. Die nachfolgenden
          Erläuterungen sollen dagegen vor allem dem Verständnis dienen. Die
          Begriffe sind alphabetisch sortiert.
        </p>
        <ul clas="glossary">
          <li>
            <strong>Content Delivery Network (CDN):</strong> Ein "Content
            Delivery Network" (CDN) ist ein Dienst, mit dessen Hilfe Inhalte
            eines Onlineangebotes, insbesondere große Mediendateien, wie
            Grafiken oder Programm-Skripte mit Hilfe regional verteilter und
            über das Internet verbundener Server, schneller und sicherer
            ausgeliefert werden können.
          </li>
          <li>
            <strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder
            ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede
            solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten.
            Der Begriff reicht weit und umfasst praktisch jeden Umgang mit
            Daten, sei es erheben, auswerten, speichern, übermitteln oder
            löschen.
          </li>
        </ul>
        <p class="seal">
          <a
            href="https://datenschutz-generator.de/?l=de"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
            target="_blank"
            >Erstellt mit Datenschutz-Generator.de von Dr. jur. Thomas
            Schwenke</a
          >
        </p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  nuxtI18n: {
    paths: {
      de: '/datenschutz', // -> accessible at /datenschutz (no prefix since it's the default locale)
      en: '/gdpr', // -> accessible at /en/gdpr
    },
  },
}
</script>
