<template lang="pug">
  v-container(fluid class="fill-height")
    v-row(class="align-center justify-center")
      v-col(cols="12" class="text-center")
        h1.text-h2
          | {{ $t('landing.title.firstLine') }}
          br
          div.font-weight-bold {{ $t('landing.title.secondLine') }}
      v-col(cols="3" class="text-center")
        h2.text-h6 {{ $t('landing.title.thirdLine') }}
</template>

<script>

export default {
}
</script>
