<template lang="pug">
  v-container(class="fill-height" fluid id="container" ref="container")
    v-row(align="center" justify="center")
      v-col(cols="12" align="center" justify="center" class="mb-4")
        v-btn(text to="/")
          h2.text-h4.font-weight-bold.primary--text.text-lowercase {{ $t('general.projectName') }}
      v-col(class="d-none d-sm-block" sm="8" md="6" lg="4" xl="4" align="center" justify="center")
        v-card(raised class="pt-6 pb-6")
            v-form(@submit.prevent="onLogin" class="pl-12 pr-12")
              v-row(align="center" justify="center")
                v-col(cols="12" class="text-left")
                  h2.text-h6.font-weight-regular {{ $t('login.title') }}
                v-col(cols="12" class="mb-0 pb-0 text-left")
                  p.text-subtitle-2 {{ $t('login.email') }}
                v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
                  v-text-field(
                    v-model="login.email"
                    required
                    outlined
                    dense
                    label=""
                    autofocus
                    autocomplete="username"
                    :error-messages="emailErrors"
                    @input="$v.login.email.$touch()"
                    @blur="$v.login.email.$touch()"
                  )
                v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
                  v-row
                    v-col(cols="4" class="mt-0 mb-0 pt-0 pb-0 text-left")
                      p.text-subtitle-2 {{ $t('login.password') }}
                    v-col(cols="8" class="mt-0 mb-0 pt-0 pb-0 text-right")
                      p.text-subtitle-2
                        nuxt-link.text-decoration-none(:to="localePath('/reset')") {{ $t('login.forgotPassword') }}
                v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
                  v-text-field(
                    v-model="login.password"
                    required
                    type="password"
                    outlined
                    dense
                    label=""
                    autocomplete="current-password"
                    :error-messages="passwordErrors"
                    @input="$v.login.password.$touch()"
                    @blur="$v.login.password.$touch()"
                    )
                v-col(cols="12" class="mt-0 pt-0")
                  v-checkbox(v-model="login.staySignedIn" hide-details :label="$t('login.staySignedIn')" color="primary")
                v-col(cols="12")
                  v-btn(type="submit" block color="primary" :loading="loading") {{ $t('login.login') }}
      v-col(class="d-flex d-sm-none" align="center" justify="center")
        v-form(@submit.prevent="onLogin" class="ml-12 mr-12")
          v-row(align="center" justify="center")
            v-col(cols="12" class="text-start")
              h2.text-h6.font-weight-regular {{ $t('login.title') }}
            v-col(cols="12" class="mb-0 pb-0 text-start")
              p.text-subtitle-2.fontColorLight--text {{ $t('login.email') }}
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-text-field(
                v-model="login.email"
                required
                outlined
                dense
                label=""
                autofocus
                autocomplete="username"
                :error-messages="emailErrors"
                @input="$v.login.email.$touch()"
                @blur="$v.login.email.$touch()"
              )
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-row
                v-col(cols="4" class="mt-0 mb-0 pt-0 pb-0 text-start")
                  p.text-subtitle-2 {{ $t('login.password') }}
                v-col(cols="8" class="mt-0 mb-0 pt-0 pb-0 text-end")
                  p.text-subtitle-2
                    nuxt-link.text-decoration-none(:to="localePath('/reset')") {{ $t('login.forgotPassword') }}
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-text-field(
                v-model="login.password"
                required
                type="password"
                outlined
                dense
                label=""
                autocomplete="current-password"
                :error-messages="passwordErrors"
                @input="$v.login.password.$touch()"
                @blur="$v.login.password.$touch()"
              )
            v-col(cols="12" class="mt-0 pt-0")
              v-checkbox(v-model="login.staySignedIn" hide-details :label="$t('login.staySignedIn')" color="primary")
            v-col(cols="12")
              v-btn(type="submit" block color="primary" :loading="loading") {{ $t('login.login') }}
      v-col(cols="12" class="text-center")
        p.text-body-2.fontColorLight--text
          | {{ $t('login.register.question') }}
          nuxt-link.text-decoration-none(:to="localePath('/register')")  {{ $t('login.register.linkText') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'
export default {
  mixins: [validationMixin],
  validations: {
    login: {
      email: { required, email },
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50),
      },
    },
  },
  data() {
    return {
      loading: false,
      login: {
        email: '',
        password: '',
        staySignedIn: false
      },
      defaultLogin: {
        email: '',
        password: '',
        staySignedIn: false
      },
    };
  },
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.login.email.$dirty) return errors
      !this.$v.login.email.email && errors.push(this.$t('login.emailError.valid'))
      !this.$v.login.email.required && errors.push(this.$t('login.emailError.required'))
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.login.password.$dirty) return errors
      !this.$v.login.password.minLength &&
      errors.push(this.$t('login.passwordError.minimum'))
      !this.$v.login.password.maxLength &&
      errors.push(this.$t('login.passwordError.maximum'))
      !this.$v.login.password.required && errors.push(this.$t('login.passwordError.required'))
      return errors
    },
  },
  methods: {
    resetForm() {
      this.$v.$reset()
      this.login = {... this.defaultLogin }
    },
    async onLogin() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.loading = true
      this.resetForm()
      this.loading = false
    },
  },
};
</script>

<style scoped>
</style>
