<template lang="pug">
  v-container(class="fill-height ma-0 pa-0" fluid)
    v-row(class="fill-height" justify="center")
      v-col(cols="6" class="d-none d-md-block" align="center" justify="center")
        v-container(fluid class="fill-height")
          v-row
            v-col(cols="12" class="ml-4")
              v-img(src="/dracula.jpg" lazy-src="/draculaLazy.jpg")
      v-col(cols="12" sm="8" md="6" lg="6" xl="6")
        RegisterForm
</template>

<script>

import RegisterForm from "../components/register/RegisterForm";
import RegisterLeftHalf from "../components/register/RegisterLeftHalf";
export default {
  components: {RegisterLeftHalf, RegisterForm}
};
</script>

<style scoped>
#leftHalf {
  background: transparent;
  border-right: 1px solid #dbe0e3;
}
</style>
