<template lang="pug">
  v-container(class="fill-height" fluid id="container" ref="container")
    v-row(align="center" justify="center")
      v-col(cols="12" align="center" justify="center" class="mb-4")
        v-btn(text to="/")
          h2.text-h4.font-weight-bold.primary--text.text-lowercase {{ $t('general.projectName') }}
      v-col(class="d-none d-sm-block" sm="8" md="5" lg="3" xl="3" align="center" justify="center")
        v-card(raised class="pt-6 pb-6")
            v-form(@submit.prevent="forgotPassword" class="ml-12 mr-12")
              v-row(align="center" justify="center")
                v-col(cols="12" class="mb-0 pb-0 text-left")
                  p.text-subtitle-2.font-weight-regular {{ $t('reset.description') }}
                v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0 text-left")
                  p.text-subtitle-2 {{ $t('login.email') }}
                v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
                  v-text-field(
                    v-model="login.email"
                    required
                    outlined
                    dense
                    label=""
                    autofocus
                    autocomplete="username"
                    :error-messages="emailErrors"
                    @input="$v.login.email.$touch()"
                    @blur="$v.login.email.$touch()"
                  )
                v-col(cols="12")
                  v-btn(type="submit" block color="primary" :loading="loading") {{ $t('login.login') }}
                v-col(cols="12")
                  nuxt-link.text-decoration-none(:to="localePath('/login')")  {{ $t('reset.return') }}
      v-col(class="d-flex d-sm-none" align="center" justify="center")
        v-form(@submit.prevent="forgotPassword" class="ml-12 mr-12")
          v-row(align="center" justify="center")
            v-col(cols="12" class="text-left")
              h2.text-subtitle-2.font-weight-regular {{ $t('reset.description') }}
            v-col(cols="12" class="mb-0 pb-0 text-left")
              p.text-subtitle-2 {{ $t('login.email') }}
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-text-field(
                v-model="login.email"
                required
                outlined
                dense
                label=""
                autofocus
                autocomplete="username"
                :error-messages="emailErrors"
                @input="$v.login.email.$touch()"
                @blur="$v.login.email.$touch()"
              )
            v-col(cols="12")
              v-btn(type="submit" block color="primary" :loading="loading") {{ $t('reset.reset') }}
            v-col(cols="12")
              nuxt-link.text-decoration-none(:to="localePath('/login')")  {{ $t('reset.return') }}
      v-col(cols="12" class="text-center")
        p.text-body-2
          | {{ $t('login.register.question') }}
          nuxt-link.text-decoration-none(:to="localePath('/register')")  {{ $t('login.register.linkText') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
export default {
  mixins: [validationMixin],
  validations: {
    login: {
      email: { required, email },
    },
  },
  data() {
    return {
      loading: false,
      login: {
        email: '',
      },
      defaultLogin: {
        email: '',
      },
    };
  },
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.login.email.$dirty) return errors
      !this.$v.login.email.email && errors.push(this.$t('login.emailError.valid'))
      !this.$v.login.email.required && errors.push(this.$t('login.emailError.required'))
      return errors
    },
  },
  methods: {
    resetForm() {
      this.$v.$reset()
      this.login = {... this.defaultLogin }
    },
    async forgotPassword() {
      console.log("clicked")
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.loading = true
      this.resetForm()
      this.loading = false
    },
  },
};
</script>

<style scoped>
</style>
