<template lang="pug">
  v-switch(v-model="colorMode" color="primary" label="Dark Mode" @click="$vuetify.theme.dark = colorMode")
</template>

<script>
export default {
  name: 'ColorModeSwitch',
  data: () => ({
    colorMode: true,
  }),
}
</script>
