<template lang="pug">
  v-row.align-center.justify-center
    v-col(cols="3")
      v-spacer
    v-col(cols="6" v-if="error.statusCode === 404" class="text-left")
      h1.display-4.font-weight-bold 404
    v-col(cols="6" v-if="error.statusCode !== 404" class="text-left")
      h1.display-4.font-weight-bold {{ error.statusCode }}
    v-col(cols="3")
      v-spacer
    v-col(cols="3")
      v-spacer
    v-col(cols="6" v-if="error.statusCode === 404").text-left
      h2.display-1  {{ $t('error.404.title') }}
    v-col(cols="6" v-if="error.statusCode !== 404").text-left
      h2.display-1 {{ $t('error.500.title') }}
    v-col(cols="3")
      v-spacer
    v-col(cols="3")
      v-spacer
    v-col(cols="6" v-if="error.statusCode === 404").text-left
      p.title {{ $t('error.404.body') }}
    v-col(cols="6" v-if="error.statusCode !== 404").text-left
      p.title {{ $t('error.500.body') }}
    v-col(cols="3")
      v-spacer
    v-col(cols="3")
      v-spacer
    v-col.text-center(cols="6" md="12")
      v-btn(text large color="primary" @click="$router.back()")
        v-icon mdi-arrow-left
        | {{ $t('error.return') }}
    v-col(cols="3")
      v-spacer
</template>

<script>
export default {
  name: 'ErrorMessage',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
}
</script>
