<template lang="pug">
  v-snackbar(v-if="message" app absolute top :color="message.color" :value="message" :timeout="snackTimeout")
    | {{ message.text }}
    v-btn(dark icon @click="dismiss")
      v-icon mdi-close
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'FeedbackBar',
  data() {
    return {
      snackTimeout: 3000,
    }
  },
  computed: {
    ...mapState('feedback', ['message']),
  },
  watch: {
    message() {
      setTimeout(() => {
        this.dismiss()
      }, this.snackTimeout)
    },
  },
  methods: {
    async dismiss() {
      await this.$store.commit('feedback/setMessage', this.editedItem, {
        root: true,
      })
    },
  },
}
</script>
