<template lang="pug">
  v-footer.font-weight-medium(app padless max-height="100px")
    v-card(flat tile class="flex")
      v-card-title
        v-row
          v-col.text-center.justify-center.align-center(cols="3")
            p.text-body-1 Copyright © {{ new Date().getFullYear() }} - {{ $t('general.baseUrl') }}
          v-col(cols="1")
            v-spacer
          v-col.text-center.justify-center.align-center(cols="4")
            n-link.ma-1.linkAsText(:to="localePath('dataProtection')") {{ $t('footer.dataProtection') }}
            n-link.ma-1.linkAsText(:to="localePath('companyDetails')") {{ $t('footer.companyDetails') }}
            n-link.ma-1.linkAsText(:to="localePath('contact')") {{ $t('footer.contact') }}
          v-col(cols="1")
            v-spacer
          v-col.text-center.justify-center.align-center(cols="2")
            ColorModeSwitch
          v-col.text-center.justify-center.align-center(cols="1")
            v-select(:value="currentLocale" :items="$i18n.locales" outlined item-text="name" @change="updateLocal")
</template>

<script>
import ColorModeSwitch from '@/components/core/ColorModeSwitch'
export default {
  name: 'Footer',
  components: { ColorModeSwitch },
  computed: {
    currentLocale() {
      return this.$i18n.locales.filter((i) => i.code === this.$i18n.locale)[0]
        .name
    },
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  methods: {
    updateLocal(event) {
      const { code } = this.$i18n.locales.filter((i) => i.name === event)[0]
      this.$router.push(this.switchLocalePath(code))
    },
  },
}
</script>

<style scoped>
.linkAsText {
  color: var(--secondary--text);
  text-decoration: none;
}
</style>
