<template lang="pug">
  v-app-bar(app flat elevate-on-scroll color="transparent" scroll-off-screen)
    v-btn.ml-12(text nuxt :to="localePath('/')" v-ripple="{ class: 'transparent--text' }")
      h2 {{ $t('general.projectName') }}
    v-spacer
    v-btn-toggle.mr-12(mandatory group borderless )
      v-btn(text nuxt :to="localePath('/login')" v-ripple="{ class: 'transparent--text' }") {{ $t('navbar.login') }}
</template>

<script>
export default {
  name: 'NavBar',
  data() {
    return {
      selection: undefined,
    }
  },
  computed: {
    contactPath() {
      return this.$i18n.localePath('/contact')
    },
  },
}
</script>

<style scoped lang="scss">
.linkAsText {
  color: var(--secondary--text);
  text-decoration: none;
}
.v-btn::before {
  display: none;
}
.v-btn--active {
  font-weight: bold;
}
</style>
