<template lang="pug">
  v-app(dark)
    NavBar
    FeedbackBar(app)
    v-main
      nuxt
    Footer
</template>

<script>
import Footer from '../components/core/Footer'
import FeedbackBar from "../components/core/FeedbackBar";
import NavBar from "../components/core/NavBar";
export default {
  components: {NavBar, FeedbackBar, Footer },
  data() {
    return {
      title: 'timetable',
    }
  },
  head() {
    return this.$nuxtI18nSeo()
  },
}
</script>
