<template lang="pug">
  v-container.fill-height
    transition(name="layout" mode="out-in" enterActiveClass="animated fadeInDown" leaveActiveClass="animated fadeOutDown")
      v-row
        v-col(cols="1")
          v-spacer
        v-col(cols="3")
          div(id="container")
            div(id="spooky")
              div(id="body")
                div(id="eyes")
                div(id="mouth")
                div(id="feet")
                  div
                  div
                  div
            div(id="shadow")
        v-col(cols="6")
          ErrorMessage(:error="error")
        v-col(cols="2")
          v-spacer
</template>

<script>
import ErrorMessage from "../components/core/ErrorMessage";
export default {
  components: {ErrorMessage  },
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  head() {
    return this.$nuxtI18nSeo()
  },
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}

#container {
  width: 400px;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}

*:after,
*:before {
  box-sizing: inherit;
}

#spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

#spooky #body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
  content: '';
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
}

#spooky #body:before {
  left: -18px;
}

#spooky #body:after {
  right: -18px;
}

#spooky #body #eyes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 90px 0 0;
  width: 90px;
  height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

#spooky #body #mouth {
  background: #252c49;
  margin: 25px auto 0;
  width: 60px;
  height: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#spooky #body #feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
  content: ' ';
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

#shadow {
  margin: -90px auto 0;
  background: #252c49;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

@keyframes floaty {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes zoomy {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}
</style>
