<template lang="pug">
  v-container(class="fill-height" fluid id="container" ref="container")
    v-row(align="center" justify="start")
      v-col(cols="12" sm="12" md="12" lg="8" xl="6")
        v-form(@submit.prevent="onRegister" class="ml-12 mr-12")
          v-row(align="center" justify="center")
            v-col(cols="12" class="text-start")
              h2.text-h5.font-weight-regular {{ $t('register.title') }}
            v-col(cols="12" class="mb-0 pb-0 text-start")
              p.text-subtitle-2.fontColorLight--text {{ $t('register.email') }}
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-text-field(
                v-model="register.email"
                required
                outlined
                dense
                label=""
                :error-messages="emailErrors"
                @input="$v.register.email.$touch()"
                @blur="$v.register.email.$touch()"
              )
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0 text-start")
              p.text-subtitle-2.fontColorLight--text {{ $t('register.password') }}
            v-col(cols="12" class="mt-0 mb-0 pt-0 pb-0")
              v-text-field(
                v-model="register.password"
                required
                outlined
                dense
                label=""
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :error-messages="passwordErrors"
                @input="$v.register.password.$touch()"
                @blur="$v.register.password.$touch()"
                @click:append="showPassword = !showPassword"
              )
            v-col(cols="12" class="mt-0 pt-0")
              v-checkbox(v-model="register.newsletter" hide-details color="primary")
                template(v-slot:label)
                  p.text-caption.fontColorLight--text
                    | {{ $t('register.productUpdates.description') }}
                    nuxt-link.text-decoration-none(:to="localePath('dataProtection')")  {{ $t('register.productUpdates.linkText') }}
            v-col(cols="12")
              v-btn(type="submit" block color="primary" :loading="loading") {{ $t('register.register') }}
            v-col(cols="12" class="text-center")
              p.text-body-2.fontColorLight--text
                | {{ $t('register.login.question') }}
                nuxt-link.text-decoration-none(:to="localePath('/login')")  {{ $t('register.login.linkText') }}
</template>

<script>
import {validationMixin} from "vuelidate";
import {email, maxLength, minLength, required} from "vuelidate/lib/validators";

export default {
name: "RegisterForm",
  mixins: [validationMixin],
  validations: {
    register: {
      email: { required, email },
      firstname: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(1500),
      },
      surname: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(1500),
      },
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50),
      },
    },
  },
  data() {
    return {
      loading: false,
      showPassword: false,
      register: {
        email: '',
        password: '',
        firstname: '',
        surname: '',
        newsletter: false
      },
      defaultRegister: {
        email: '',
        password: '',
        firstname: '',
        surname: '',
        newsletter: false
      },
    };
  },
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.register.email.$dirty) return errors
      !this.$v.register.email.email && errors.push(this.$t('register.emailError.valid'))
      !this.$v.register.email.required && errors.push(this.$t('register.emailError.required'))
      return errors
    },
    firstnameErrors() {
      const errors = []
      if (!this.$v.register.firstname.$dirty) return errors
      !this.$v.register.firstname.minLength &&
      errors.push(this.$t('register.firstnameErrors.minimum'))
      !this.$v.register.firstname.maxLength &&
      errors.push(this.$t('register.firstnameErrors.maximum'))
      !this.$v.register.firstname.required && errors.push(this.$t('register.firstnameErrors.required'))
      return errors
    },
    surnameErrors() {
      const errors = []
      if (!this.$v.register.surname.$dirty) return errors
      !this.$v.register.surname.minLength &&
      errors.push(this.$t('register.surnameErrors.minimum'))
      !this.$v.register.surname.maxLength &&
      errors.push(this.$t('register.surnameErrors.maximum'))
      !this.$v.register.surname.required && errors.push(this.$t('register.surnameErrors.required'))
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.register.password.$dirty) return errors
      !this.$v.register.password.minLength &&
      errors.push(this.$t('register.passwordError.minimum'))
      !this.$v.register.password.maxLength &&
      errors.push(this.$t('register.passwordError.maximum'))
      !this.$v.register.password.required && errors.push(this.$t('register.passwordError.required'))
      return errors
    },
  },
  methods: {
    resetForm() {
      this.$v.$reset()
      this.register = {... this.defaultRegister }
    },
    async onRegister() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.loading = true
      this.resetForm()
      this.loading = false
      await this.$router.push('/login');
    },
  },
}
</script>

<style scoped>

</style>
