<template lang="pug">
  v-container(class="fill-height" fluid)
    v-row
      v-col(cols="6")
      v-col(cols="6" class="text-start")
        v-btn(text to="/")
          h2.text-h4.font-weight-bold.primary--text.text-lowercase {{ $t('general.projectName') }}
        SellingPointList
  </template>

<script>
import SellingPointList from "./SellingPointList";
export default {
name: "RegisterLeftHalf",
  components: {SellingPointList}
}
</script>
